@CHARSET "UTF-8";
.main_header{z-index:1000; height:60px;}
.main_body{z-index:0; padding:2px 0; position:absolute; top:61px; right:0px; left:0px; bottom:0px;}
#myNav{margin-left: -10px;margin-right: -10px;}
#carouselDiv{margin-left: 20px;margin-right: 20px;}
